a { color:#0066cc } /* Globally */

a:visited { text-decoration: none; color:#0066cc; }
a:hover { text-decoration: none; color:#0066cc; }
a:focus { text-decoration: none; color:#0066cc; }
a:hover, a:active { text-decoration: none; color:#0066cc }
