a { color:#aee5eb } /* Globally */

a:visited { text-decoration: none; color:#aee5eb; }
a:hover { text-decoration: none; color:#aee5eb; }
a:focus { text-decoration: none; color:#aee5eb; }
a:hover, a:active { text-decoration: none; color:#aee5eb }

<p style="color: white">

#my-text {
    float: right;
    margin-right: 100px;
}
