a { color:#88aaeb } /* Globally */

a:visited { text-decoration: none; color:#88aaeb; }
a:hover { text-decoration: none; color:#88aaeb; }
a:focus { text-decoration: none; color:#88aaeb; }
a:hover, a:active { text-decoration: none; color:#88aaeb }
